Source: cosmic-settings-daemon
Section: admin
Priority: optional
Maintainer: System76 <info@system76.com>
Build-Depends:
  debhelper (>= 11),
  debhelper-compat (= 11),
  cargo,
  libudev-dev,
  libinput-dev,
  libssl-dev,
  libxkbcommon-dev,
  pulseaudio-utils,
  pkg-config,
Standards-Version: 4.3.0
Homepage: https://github.com/pop-os/cosmic-settings-daemon

Package: cosmic-settings-daemon
Architecture: amd64 arm64
Depends:
  acpid,
  qt5ct,
  qt6ct,
  ${misc:Depends},
  ${shlibs:Depends}
Recommends:
  adw-gtk3,
  pop-sound-theme,
  breeze-icon-theme,
  playerctl,
Description: settings daemon for the COSMIC desktop
 The cosmic-settings-daemon process provides the D-Bus settings service used by
 the COSMIC desktop. It handles settings-related integration such as display
 brightness, audio volume, input-source switching, accessibility state, and
 configuration and state change notifications.
